.fondo  {
    height: 90vh;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to top, #CFDEF3, #E0EAFC);

}

.fondoproductos{
    height: 100%;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to top, #CFDEF3, #E0EAFC);
}

.formulario{
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.58);
    border: 2px solid rgba(1, 0, 0, 0.663);
    border-radius: 5px;
    padding: 20px;
}

.labelInput{
    margin-top: 4px;
    margin-bottom: 2px;
}

.label{
    color: black;
    font-weight: 500;
}

.input{
    border-radius: 2% 2%;
    padding: 5px 5px;
    border: 2px solid gray;
    width: 100%;
    margin-top: 4px;
}

@media (max-width: 500px){

    .inputRegistro{
        min-block-size: 100%;

    }
    .contenedorRegistro{

        flex-direction: column;
    }
}

@media (min-width: 500px){
    
    .contenedorRegistro{
        
        display:'flex';
        flex-direction: row;
        justify-content: space-between;
    }
    .inputRegistro{
        width: 200px;
    }
    
    .botonCanjear{
        width: 100%;
    }

    .menuHamburguesa{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .botonesHamburguesa{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .botonesHamburguesa Button{
        width: 100%;
        margin: 0 3px;
    }
}

.contenedorCard{
    /* Para los diferentes navegadores */
    -webkit-transition:all .9s ease; /*Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

.contenedorCard:hover .sombra{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

.sombra{
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
}